body{
  background-image: url(http://cdn.sci-news.com/images/enlarge/image_2388_1e-Pillars-of-Creation.jpg);
  background-size: cover;
  text-align: center;
}
.ageConvert{
  display: none;
  font-family: monospace;
  border-radius: 100px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(220, 177, 4, 0.41);
  padding: 10px;
}
form{
  background-color: rgba(220, 177, 4, 0.41);
  font-family: monospace;
  border-radius: 100px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5px;
}

header {
  font-size: 30px;
  font-family: fantasy;
}
